<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="iTextSharp.LGPLv2.Core" version="1.7.1" targetFramework="net472" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.0" targetFramework="net472" />
  <package id="Portable.BouncyCastle" version="1.8.9" targetFramework="net472" />
</packages>